VITE_API_BASE_URL=backend_hosting_url
VITE_RAZORPAY_KEY_ID=razopay_key_id
VITE_APP_LOGO=https://res.cloudinary.com/...


VITE_EMAIL_HOST=smtp.gmail.com
VITE_EMAIL_PORT=786
VITE_EMAIL_USER=test@gmail.com
VITE_EMAIL_PASS=abcd efgh ijkl mnop